.tooltip {
    position: absolute;
    color: #666666;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0.9;
    z-index: 10;
  }

  .positiveTooltip {
    /* Example: */
    background-color: #ebf7e3;
    border: 1px solid #1b3409;
  }
  
  .negativeTooltip {
    background-color: #f7e3e3;
    border: 1px solid #340909;
  }